body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
.wrapper{
    flex: 5;
}
.left{
    display: flex;
    flex-direction: column;
}
/*
****** HEAD BLOCK
 */
.main-header{
    display: flex;
    height: 5em;
    margin-top: 1em;
    margin-left: 1em;
}
.img{
    flex:1;
    width: 5em;
    background-color: beige;
}
.button{
    flex: 2;
    display: flex;
    justify-content: flex-end;
}
.bt1{
    width: 30%;
    margin: 0.5em;
}
.bt2{
    width: 30%;
    margin:0.5em;
}
/*
******* CONTENT BLOCK
 */
.content{
    background-color: white;
}
.content-wrapp{
    margin-left: 1em;
}
/*
******* FOOTER
 */
.footer{
    display: flex;
    flex:1;
}
.footer div{
    margin: auto;
}
 /*
    hidden things
  */

.right{
    display: none;
}
.nav-icon{
    display: none;
}
.search-cheat{
    display: none;
}
.left-sidebar{
    display: none;
}

/******************** TABLET P ******************/
@media(min-width: 50em){
    /*
    *********** HEAD BLOCK TABLET-P
     */
    .nav-icon{
        display: flex;
        flex:3;
        margin-right: 1em;
    }
    .header ul {
        display: flex;
        list-style-type: none;
    }
    .header ul li {
        padding: 0.2em;
        border-right: 0.1em solid black;
    }
    .icon {
        flex: 1;
        justify-content: flex-end;
    }
    .search-cheat{
        display: flex;
        background-color: white;
    }
    .search-cheat .srch{
        border: 2px solid black;
        width: 18em;
        text-align: center;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    .header{
        display: flex;
        flex-direction: column;
    }
    /*
    ********* CONTENT BLOCK TABLET-P
     */
    .magic{
        display: flex;
    }
    .left-sidebar{
        display: flex;
        flex: 1;
        background-color: white;
    }
    .left-sidebar li{
        list-style-type: none;
        padding: 1em;
    }
    .content{
        flex: 3;
    }
    /*
        hidden things
     */
    .button{
        display: none;
    }
}
/****************** TABLET L ****************/
@media(min-width: 63.75em){

    .wrapper{
        display: flex;
    }
    .right{
        display: flex;
        flex-direction: column;
        flex: 1;
        border: 2px solid green;
    }
    .right-sidebar{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        height: 100%;
    }
    .right-sidebar .search{
        text-align: center;
        flex: 1;
    }
    .right-sidebar .search p{
        border: 2px solid black;
    }
    .newsletter{
        flex: 2;
        text-align: center;
        background-color: antiquewhite;
        margin-bottom: 1em;
    }
    .ads {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .ads div {
        width: 40%;
    }

    .ad1 {
        height: 3em;
        background-color: royalblue;
    }

    .ad2 {
        background-color: cadetblue;
        height: 3em;
    }

    .ad3 {
        height: 3em;
        background-color: rebeccapurple;
    }
    .left{
        flex:3;
    }
    .search-cheat{
        display: none;
    }
    .magic{
        flex-direction: column;
    }
    .left-sidebar ul{
        display: flex;
    }
}
/***************************** DESKTOP *********************************/
@media(min-width: 76.25em){
    .magic{
        flex-direction: row;
    }
    .left-sidebar{
        flex:1;
    }
    .left-sidebar ul{
        flex-direction: column;
    }
    .content{
        flex:3;
    }
}
/*************************** WIDE ****************************************/
@media(min-width:90.625em ){
    .left{
        flex-direction: row;
    }
    .header{
        flex: 2;
        border: 5px solid red;
    }
    .icon{
        display: none;
    }
    .main-header{
        flex-direction: column;
    }
    .main-header ul{
        flex-direction: column;
    }
    .main-header ul li{
        border: none;
    }
    .nav-icon{
        flex-direction: column;
    }
}



